@mixin display-flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// breakpoints
$media-small: 768px;
$media-large: 992px;

$font-color: #343a40;
$primary-color: #e6f8fe;
$secondary-font-color: rgba(255,255,255,.5);